@import "./base/reset";

body {
    background: #5e8a91;
    background: -webkit-linear-gradient(to right, #455b5f, #4CA1AF);
    background: linear-gradient(to right, #C4E0E5, #455b5f);
    overflow-x: hidden;
}

/*navbar*/
.navbar-toggler {
    border-style: solid;
    border-color: white;
    margin-left: 5px;
}

/*header*/
header nav ul li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h1 {
    color: rgb(26, 25, 25);
    text-align: center;
    padding-bottom: 15px;
    font-size: 30px;
    
    
}

/*cierre header*/

/*formulario*/
.formulario {
    text-align: center;
    
}

/* Vinculos*/
a {
    text-decoration: none;
    font-weight: 200px;
}

.nav-link {
    color: rgb(243, 236, 236);
}

/* Main*/
main {
    padding: 50px;

}

/*Inicio Portada*/

h2 {
    color: rgb(44, 21, 12);
    font-style: oblique;
    text-align: center;
}

.col-sm {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    background: #4CA1AF;
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
    
}

p {
    color: rgb(20, 20, 19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 30px;
}

/* Footer*/
footer {
    background-color: black;
    color: white;
}

li {
    margin-left: 10px;
}